{{define "title"}}Login{{end}}

{{define "main"}}
<div class="flex flex-col justify-center items-center w-full h-full">
  <section class="w-96 flex flex-col rounded-lg p-14">
    <header class="flex flex-col items-center mb-8">
      <h1 class="font-bold mx-auto text-2xl mb-4"><a href="/">The Book <span class="text-orange-500">Haven</span></a></h1>
      <p class="text-lg mb-2">Welcome Back!</p>
      <p class="text-gray-500 text-xs">Use your credentials to access your library.</p>
    </header>
    <form>
      <div class="mb-4 flex flex-col gap-0.5">
        <label for="email" class="text-xs text-gray-500 uppercase">Email</label>
        <input type="email" class="py-0.5 px-2 rounded-md border border-grey-300 outline-orange-500" name="email" id="email">
      </div>
      <div class="mb-4 flex flex-col gap-0.5 relative">
        <label for="password" class="text-xs text-gray-500 uppercase">Password</label>
        <input
          type="password"
          class="py-0.5 px-2 rounded-md border border-grey-300 outline-orange-500"
          name="password"
          id="password"
        >
        <button
          type="button"
          class="h-4 w-4 text-grey-600 absolute right-[0.5rem] bottom-[0.4rem] z-10"
          id="toggleEye">
          <img id="eyeImg" src="../../../static/img/pw-hide.svg">
        </button>
      </div>
      <div class="mb-4 flex justify-end">
        <p class="text-xs text-gray-500"><a href="#" class="underline">Forgot Password?</a></p>
      </div>
      <div class="mb-4 flex flex-col gap-1">
        <button
          type="submit"
          class="bg-orange-500 hover:bg-orange-linear py-1 text-center text-white text-sm rounded-md"
        >Login
        </button>
      </div>
      <p class="text-xs text-gray-500">New to this? <a href="/register" class="underline">Register now</a>.</p>
    </form>
  </section>
</div>
<script src="../../../static/js/login.js"></script>
{{end}}
