{{define "title"}}Register{{end}}

{{define "main"}}
<div class="flex flex-col justify-center items-center w-full h-full">
  <section class="w-96 flex flex-col rounded-lg p-14">
    <header class="flex flex-col items-center mb-8">
      <h1 class="font-bold mx-auto text-2xl mb-4"><a href="/">The Book <span class="text-orange-500">Haven</span></a></h1>
      <p class="text-lg mb-2">Registration</p>
      <p class="text-gray-500 text-xs">Fill in your details to use this application</p>
    </header>
    {{block "userRegisterForm" .}}
      <form id="registerForm">
        <div class="mb-4 flex flex-col gap-0.5 relative">
          <label for="name" class="text-xs text-gray-500 uppercase">Name</label>
        <input type="text" class="py-0.5 px-2 rounded-md border border-grey-300 outline-orange-500" name="name" id="name" value="{{.Form.Name}}">
          {{ with .Form.FieldErrors.name }}
            <label class="absolute bottom-[-1.2rem] right-0 text-2xs text-red-500 ml-auto">{{.}}</label>
          {{end}}
        </div>
        <div class="mb-4 flex flex-col gap-0.5 relative">
          <label for="email" class="text-xs text-gray-500 uppercase">Email</label>
        <input type="email" class="py-0.5 px-2 rounded-md border border-grey-300 outline-orange-500" name="email" id="email" value="{{.Form.Email}}">
          {{ with .Form.FieldErrors.email }}
            <label class="absolute bottom-[-1.2rem] right-0 text-2xs text-red-500 ml-auto">{{.}}</label>
          {{end}}
        </div>
        <div class="mb-4 flex flex-col gap-0.5 relative">
          <label for="password" class="text-xs text-gray-500 uppercase">Password</label>
          <input
            type="password"
            class="py-0.5 px-2 rounded-md border border-grey-300 outline-orange-500"
            name="password"
            id="password"
          >
          {{template "buttonEyeClosed" }}
          {{ with .Form.FieldErrors.password }}
            <label class="absolute bottom-[-1.2rem] right-0 text-2xs text-red-500 ml-auto">{{.}}</label>
          {{end}}
        </div>
        <div class="mb-6 flex flex-col gap-0.5 relative">
          <label for="password_confirm" class="text-xs text-gray-500 uppercase">Confirm Password</label>
          <input
            type="password"
            class="py-0.5 px-2 rounded-md border border-grey-300 outline-orange-500"
            name="password_confirm"
            id="password_confirm"
          >
          {{ template "buttonEyeClosed" }}
          {{ with .Form.FieldErrors.password_confirm }}
            <label class="absolute bottom-[-1.2rem] right-0 text-2xs text-red-500 ml-auto">{{.}}</label>
          {{end}}
        </div>
        <div class="mb-4 flex flex-col gap-1">
          <button type="submit" hx-post="/users/create" hx-target="#registerForm" hx-swap="outerHTML"
            class="bg-orange-500 hover:bg-orange-linear py-1 text-center text-white text-sm rounded-md">
            Register
          </button>
        </div>
        <p class="text-xs text-gray-500">Already a User? <a href="/login" class="underline">Login now</a>.</p>
      </form>
    {{end}}
  </section>
</div>
{{end}}

{{block "buttonEyeClosed" . }}
  <button
    hx-get="/buttons/eye-open"
    hx-swap="outerHTML"
    type="button"
    class="h-4 w-4 text-grey-600 absolute right-[0.5rem] bottom-[0.4rem] z-10"
  >
    <img id="eyeImg" src="../../../static/img/pw-hide.svg">
  </button>
{{end}}

{{block "buttonEyeOpen" . }}
  <button
    hx-get="/buttons/eye-closed"
    hx-swap="outerHTML"
    type="button"
    class="h-4 w-4 text-grey-600 absolute right-[0.5rem] bottom-[0.4rem] z-10"
  >
    <img id="eyeImg" src="../../../static/img/pw-see.svg">
  </button>
{{end}}
