{{define "base_auth"}}
<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <title>{{template "title" .}} - Bookshelf</title>
    <link rel="stylesheet" href="../static/css/tailwind.css"/>
    <script src="../static/js/htmx.min.js"></script>
  </head>
  <body class="flex justify-between flex-col items-center h-screen w-screen bg-orange-linear m-0 pt-8 px-10">
    <div class="app grid flex-grow grid-rows-1 grid-cols-6 rounded-2xl w-full h-full overflow-hidden w-max-3xl bg-white">
    <aside class="col-span-1 flex flex-col justify-between items-center py-4">
        {{template "nav" .}}
    </aside>
    <main class="col-span-5 bg-gray-100">
      {{template "main" .}}
    </main>
    </div>
    <footer class="mx-auto text-black">Powered by <a href="https://golang.org">Golang</a></footer>
  </body>
</html>
{{end}}
