{{define "base_guest"}}
<!doctype html>
<html>
  <head>
    <meta charset="utf-8">
    <title>{{template "title" .}} - Bookshelf</title>
    <link rel="stylesheet" href="../static/css/tailwind.css"/>
    <link rel="stylesheet" href="../static/css/styles.css"/>
  </head>
  <body class="h-screen w-screen flex flex-col justify-centeter items-center">
    <main class="flex-grow justify-between flex items-center">
      {{template "main"}}
    </main>
    <footer class="mx-auto">Powered by <a href="https://golang.org">Golang</a></footer>
  </body>
</html>
{{end}}
