{{define "base_guest"}}
<!doctype html>
<html>
  <head>
    <meta charset="utf-8">
    <title>{{template "title" .}} - Bookshelf</title>
    <link rel="stylesheet" href="../static/css/tailwind.css"/>
    <link rel="stylesheet" href="../static/css/styles.css"/>
  </head>
  <body class="flex justify-between flex-col items-center h-screen w-screen bg-orange-linear m-0 pt-8 px-10">
    <main class="flex-grow bg-white w-full rounded-2xl p-4 relative overflow-hidden">
      {{template "main"}}
      <img src="../static/img/witch-too-much-candy.svg" class="h-40 w-40 absolute bottom-[-3.8rem] right-[-2.5rem] -rotate-12"/>
    </main>
    <div>
  </body>
  <footer class="mx-auto">Powered by <a href="https://golang.org">Golang</a></footer>
  <script src="../static/js/htmx.min.js"></script>
</html>
{{end}}
